---
import HeaderLayout from '../layouts/HeaderLayout.astro';
---

<HeaderLayout>
    <main class="artists-page">
        <h1>Artists Page</h1>
        <p>Welcome to the Artists page. Here you will find information about our talented artists.</p>
    </main>
</HeaderLayout>
