---
import PageLayout from "../layouts/PageLayout.astro";
---
<PageLayout title="Contacts" active="contacts">
  <section class="text-page">
    <h1>CONTACTS</h1>
    <p>For demo submissions or collaborations, feel free to reach out!</p>
    <p>Send us a private Soundcloud link at the following email:</p>
    <p><a href="mailto:demo@protocolzero.online">demo@protocolzero.online</a></p>
  </section>
</PageLayout>
